<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsdb.univer"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--        -->
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        >

        <activity android:name=".ui.activity.IntroPage"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="IntroPage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.LoginPage"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="LoginPage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.RegisterUser"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="RegisterUser" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.RegisterBook"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="RegisterBook" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.RegisterProfessor"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="RegisterProfessor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.RegisterBoard"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="RegisterBoard" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.RangeSetting"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="RangeSetting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.TabMain"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="TabMain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.BookDetail"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="BookDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.ChatRoomDetail"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="ChatRoomDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.BoardDetail"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="BoardDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activity.ProfessorDetail"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="ProfessorDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.EvaluateProfessor"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="EvaluateProfessor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- zxing Capture Activity -->
	    <activity android:name="com.google.zxing.client.android.CaptureActivity"
	              android:screenOrientation="landscape"
	              android:clearTaskOnLaunch="true"
	              android:stateNotNeeded="true"
	              android:configChanges="orientation|keyboardHidden"
	              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
	              android:windowSoftInputMode="stateAlwaysHidden">
	      <intent-filter>
	        <action android:name="com.google.zxing.client.android.SCAN"/>
	        <category android:name="android.intent.category.DEFAULT"/>
	      </intent-filter>
	    </activity>

	    <!-- GCM Receiver (already realized) -->
		<receiver
		   android:name="com.google.android.gcm.GCMBroadcastReceiver"
		   android:permission="com.google.android.c2dm.permission.SEND" >
		   <intent-filter>
		      <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		      <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		      <category android:name="com.nsdb.univer" /> <!-- JellyBean don't have to write this -->
		   </intent-filter>
		</receiver>
		
		<!-- GCM Service, Do not change its name! -->
		<service android:name=".GCMIntentService" />	    
        
        
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    
    <!-- For zxing Capture Activity -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- I think it makes bug..
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
	<uses-feature android:name="android.hardware.screen.landscape"/>
	<supports-screens android:xlargeScreens="true"
	                  android:largeScreens="true"
	                  android:normalScreens="true"
	                  android:smallScreens="true"
	                  android:anyDensity="true"/>
	-->
	 
	<!-- For LazyList -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<!-- For GCM (Package name dependency) -->	
	<permission android:name="com.nsdb.univer.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.nsdb.univer.permission.C2D_MESSAGE" /> 
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>